pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
statsmodels==0.14.2
xgboost==2.1.1
tensorflow==2.16.1
prophet==1.1.5
cmdstanpy==1.2.2
fastapi==0.115.0
uvicorn==0.30.6
joblib==1.4.2
python-multipart==0.0.9
